// Push x onto the stack
push argument 0
push argument 0  // Duplicate x for comparison

// Compare x < 0
push constant 0
lt
if-goto NEGATIVE
goto POSITIVE

NEGATIVE:
  push argument 0
  neg
  pop argument 1  // Store |x| in argument[1]
  push constant 1
  pop argument 2  // argument[2] = 1 (x was negative)
  goto CHECK_ERROR

POSITIVE:
  push argument 0
  pop argument 1  // Store |x| in argument[1]
  push constant 0
  pop argument 2  // argument[2] = 0 (x was non-negative)

CHECK_ERROR:
  // For this problem, we assume abs value is always computable
  push constant 0
  pop argument 3  // argument[3] = 0 (abs value is computable)
