push argument 0
push constant 0
lt
neg 
pop argument 2

push argument 0
push constant 0
eq
if-goto FIRSTCONDITION

push argument 0
push constant 0
lt
if-goto SECONDCONDITION

push argument 0
push constant 0
gt
if-goto THIRDCONDITION


label FIRSTCONDITION
    push constant 0
    pop argument 1
    push constant 0 
    pop argument 3
    goto END


label SECONDCONDITION
    push constant 32767
    push argument 0
    add
    push constant 1
    add
    pop static 0
    push static 0
    push constant 0
    eq
    if-goto INCOMPLETE
    push static 0
    push constant 0
    lt
    if-goto INCOMPLETE
    push argument 0
    neg
    pop argument 1
    push constant 0
    pop argument 3
    goto END


label INCOMPLETE
    push constant 1
    pop argument 3
    goto END

label THIRDCONDITION
    push argument 0
    pop argument 1
    push constant 0
    pop argument 3
    goto END

label END